.SkillsBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.Skill {
    display: grid;
    place-items: center;
    height: 200px;
    background-color: #4267B2;
    flex: 1 1 200px; /*  Stretching: */
    margin: 20px;
     box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.35);
}

.Icon {
    height:50%;   
    margin: 0;
    width: 50%;
    object-fit: contain;
}

